# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
# created-by: conda 24.9.2
# PDF2MD Service Dependencies
requests>=2.32.0
oss2>=2.19.0
pyyaml>=6.0.0
aliyun-mns-sdk>=1.2.0
aliyun-log-python-sdk>=0.9.0
aliyun-python-sdk-core>=2.16.0
aliyun-python-sdk-kms>=2.16.0
magic-pdf>=1.1.0
numpy>=1.26.0
pandas>=2.2.0
pymupdf>=1.24.0
python-dateutil>=2.9.0
